
.NotificationCard {
    width: 100%;
    height: 6em;

    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.NotificationCard * {
    padding: 0;
    margin: 0;
}

/**/

.NotiCard-col-1 {
    height: 80%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.NotiCard-col-1 img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

/**/

.NotiCard-col-2 {
    height: 80%;
    width: 70%;

    display: flex;
    align-items: center;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
}

.NotiCard-col-2 p {
    margin: 0 1em 0 1em;
}

p .username {
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
}

p .netId {
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
}

p .adTitle {
    font-size: 1.1em;
}

/**/

.NotiCard-col-3 {
    width: 15%;
    height: 100%;

    text-align: right;
    font-size: 0.9rem;
}

.NotiCard-col-3 p {
    margin: 1em 1em 0 0;
}
















