.alertable-prompt {
    display: flex;
}

.form-prompt {
    height: 1.25rem;
    margin-top:0.5rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    color: #595959;
    padding: 0;

    display: inline-block;
}

.asterisk {
    margin-top: 0.5rem;
    color: red;
    font-size: 0.5rem;
    margin-right: 0.5rem
}

.alert {
    font-size: 0.5rem;
    color: red;
}