.NewAdDragDrop {
    /*width: 100%;*/
}

#file-input {
    display: none;
}

img {
    height: 150px;
}

.BtnAddPic {
    /*display: inline-block;*/
    float: left;
    position: relative;
    height: 150px;
    width: 100px;
    margin-right: 5px;
    background-color: #D6D6D6;
    border-radius: 5px;
}

.BtnAddPic img {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(183deg) brightness(102%) contrast(103%);
}

/*absolute's parent must be relative*/
.PicDeleteBtn {
    position: absolute;
    opacity: 80%;
    top: 0;
    left: 0;
    border-color: #595959;
}

.NewAdDragDropPic {
    position: relative;
}

.NewAdDragDropAddBtn {
    position: relative;
    width: 100px;
    height: 150px;
    border-color: #A61F16;
    border-style: solid;
    text-align: center;
}

.NewAdDragDropAddBtn p {
    font-size: 100px;
    /*position: absolute;*/
    /*margin: 0;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*-ms-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
}







