.textbook-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.textbook-info-row {
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-prompt {
    font-size: 0.875rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: bold;
    color: #595959;
}

.info-value {
    font-size: 0.875rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: normal;
    color: #595959;

    margin-left: 0.5rem;
}