.admin-bulletin-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-bulletin-form-container {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.admin-bulletin-form-container .custom-input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.admin-bulletin-form-container .input-bracket {
    width: 100%;
}

.admin-bulletin-form-container .input-bracket--extra-large {
    height: 50vh;
}

.cancel-btn img {
    height: 2rem;
    width: 2rem;
    /*filter: invert(21%) sepia(20%) saturate(0%) hue-rotate(193deg) brightness(92%) contrast(100%);*/
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
}