/* logic: outside container defines height, middle div defines width */
/* logic: both use flex & justify-content */

.AdDisplayCard {
    width: 700px;
    height: 200px;

    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #BBBBBB;

    margin: 5px 0px 5px 0px;

    display: flex;
    justify-content: space-between;
}

.AdDisplayCard * {
    border-radius: 5px;
}

.col-1 {
    display: inline-block;
    float: left;

    width: 200px;
    height: 100%;
    border-radius: 10px;
}

.col-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: 0;
}

/**/

.col-2 {
    width: 34%;
    height: 100%;
    text-align: left;
}

.col-2-ad-title {
    margin: 5% 0 2% 0;
}

.col-2-ad-title p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.col-2-price {
    margin: 2% 0 5% 0;
}

.col-2-price p {
    display: inline-block;
    margin: 0 2% 0 2%;
}

.col-2-price .price-selling {
    font-size: 0.9rem;
}

.col-2-price .price-original {
    color: #666666;
    text-decoration: line-through;
    font-size: 0.8rem;
}

.col-2-hr hr {
    margin: 0;
}

.col-2-comment {
    margin: 5% 0 0 0;
}

.col-2-comment p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

/**/

.col-3 {
    width: 32%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-3-tags-container {
    height: 20%;
    margin: 5% 0 5% 0;
    display: flex;
    justify-content: center;
}

.col-3-tags {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.col-3-tags p {
    width: fit-content;
    padding: 0rem 0.6rem 0rem 0.6rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-3-tags .tag {
    background-color: #16E7CF;
    color: #FFFFFF;
}

/**/

.col-3-to-unlock-container {
    height: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.col-3-to-unlock {
    width: 95%;
    border-style: solid;
    border-width: 2px;
    border-color: #808080;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-3-to-unlock img {
    display: inline-block;
    margin: 0;
    height: 1.7rem;
    width: 1.7rem;
    object-fit: cover;
}

.col-3-to-unlock p {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
}

/**/

.col-3-unlocked {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.owner-avatar img {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 1.4rem;
    object-fit: cover;
}

.owner-info {
    text-align: left;
    /*margin: 0 0 0 2%;*/
}

.owner-info-name {
    margin: 0;
    font-size: 0.9rem;
}

.owner-info-netId {
    margin: 0;
    font-size: 0.7rem;
}

/**/

.col-3-buttons-container {
    height: 25%;
    margin: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-3-buttons {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.col-3-buttons img {
    margin: 0;
    height: 2rem;
    width: 2rem;
}

.col-3-buttons p {
    margin: 0;
    font-size: 1rem;
}

.btn-tap {
    display: flex;
    padding: 2% 5% 2% 5%;
    align-items: center;
    /*background-color: #CCCCCC;*/
}

.btn-tap:hover {
    border-color: #BEBEBE;
    border-style: solid;
    border-width: 2px;
}

.btn-mark {
    display: flex;
    padding: 2% 5% 2% 5%;
    align-items: center;
}

.btn-mark:hover {
    border-color: #BEBEBE;
    border-style: solid;
    border-width: 2px;
}
















