
/* 100% width of the outside `grid` */
.SearchBar {
    /*width: 700px;*/
    width: 100%;
    height: 120px;

    background-color: #F3F3F3;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SearchBar * {
    margin: 0;
}

/**/

.row-input-container {
    height: 2.5em;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    display: flex;
    justify-content: center;
}

.row-input {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
}

.row-input .choose-tag-container {
    height: 100%;
    width: 15%;
    background-color: #36C0C9;
    color: #FFFFFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-input .choose-tag {
    height: 100%;
    width: calc(max(17%, 6em));
    background-color: #36C0C9;
    color: #FFFFFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-input .choose-tag-p-container {
    width: 75%;
    display: flex;
    justify-content: center;
}

.row-input .choose-tag p {
    margin-bottom: 0.2em;
    margin-left: 0.2em;
}

.row-input .choose-tag-img-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.row-input .choose-tag img {
    height: 1.25em;
    width: 1.25em;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.row-input .search-input {
    width: 76%;
    height: 100%;
}

.row-input .search-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border-style: none;
    font-size: 1rem;
    padding: 0 0.5em 0 0.5em;
}

.row-input .search-button {
    /*width: 10%;*/
    width: 7%;
    height: 100%;
    background-color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-input .search-button img {
    width: 1.6em;
    height: 1.6em;
    margin-right: 0.5em;
}

/**/

.row-filters-container {
    height: 2.5em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row-filters {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
}

.row-filters .filter-label {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-filters .filter-label img {
    width: 1.6em;
    height: 1.6em;
    filter: invert(21%) sepia(20%) saturate(0%) hue-rotate(193deg) brightness(92%) contrast(100%);
}

/*container also contains dropdown*/
.row-filters .choose-filter-container {
    margin: 0 0 0 2%;
}

.row-filters .choose-filter {
    height: min-content;
    width: 3.5em;
    padding: 0.3em 0.3em 0.3em 0.5em;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #BEBEBE;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-filters .choose-filter .choose-filter-svg-container {
    margin: 0 0 0 5%;
    display: flex;
    flex-direction: column;
}

.row-filters .choose-filter .choose-filter-svg-container img {
    height: 1rem;
    width: 1rem;
}













