
/* 100% width of the outside `grid` */
.bulletin {
    /*width: 20em;*/
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bulletin * {
    margin: 0;
    padding: 0;
    text-align: left;
}

/**/

.bulletin-title {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 0.5em;

    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bulletin-title img {
    height: 2em;
    width: 2em;
    margin-right: 0.5em;
    filter: invert(21%) sepia(20%) saturate(0%) hue-rotate(193deg) brightness(92%) contrast(100%);
}

.bulletin-title p {
    font-weight: bold;
}

/**/

.bulletin-entry {
    width: 85%;
    padding: 0.25em 0.5em 0.25em 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bulletin-entry-title {
    width: 100%;
    font-weight: bold;
}

.bulletin-entry-content {
    width: 90%;
}

.bulletin-entry-content p {
    white-space: normal;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**/
/**/

.BulletinDetailCard {
    width: 40em;
    height: 40em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: scroll;
}

.BulletinDetailCard-title {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.BulletinDetailCard-title p {
    font-size: 1.5rem;
    font-weight: bold;
}

.BulletinDetailCard-content {
    width: 80%;
}

.BulletinDetailCard-content p {
    font-size: 1.2rem;
    line-height: 1.5em;

    overflow: unset;
    white-space: normal;
    text-overflow: unset;
}






