.MyProfile {
    width: 275px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
}

.MyProfile * {
    font-family: Arial, serif;
    font-size: 15px;
    color: #202020;
}

.MyProfileDisplay1 {
    text-align: center;
}

.divAvatarStripe {
    height: 60px;
}

.avatarStripe {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.divAvatar {
    height: 50px;
    text-align: center;
}

.avatar {
    height: 150%;
    margin-top: -40px;
    border-radius: 50%;
    border: 3px solid #16E7CF;
}

.MyProfileDisplay1Name {
    color: black;
    font-size: 22px;
}

.MyProfileDisplay1NetId {
    font-size: 18px;
    margin: 10px;
}

.MyProfileDisplay2 {
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

.MyProfileDisplay2Text {
    width: 225px;
    display: inline-block;
    vertical-align: middle;
}

.MyProfileDisplay2Text * {
    margin: 10px;
}

.divEditIcon {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    text-align: center;
}

.editIcon {
    margin: 0;
    height: 100%;
}

.fieldName {
    margin: 0;
    font-size: 16px;
    color: black;
    display: inline-block;
    width: 50px;
}

.MyProfileDisplay3 {
    text-align: center;
}

.MyProfileDisplay3 * {
    vertical-align: middle;
    display: inline-block;
    margin: 8px 5px;
}

/* MyProfileEdit below */
.MyProfileEdit1 {
    text-align: center;
    border-bottom: 1px solid darkgrey;
}

.MyProfileEdit1NetId {
    font-size: 22px;
    margin-bottom: 15px;
}

.MyProfileEdit2 {
    margin-top: 10px;
}

.MyProfileEdit2 img {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 15px;
    /*height: 150%;*/
    /*margin-top: -40px;*/
}

.MyProfileEdit2 input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #999999;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #666666;
    height: 25px;
}

.MyProfileEdit2 select {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #999999;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #666666;
    height: 25px;
}

.MyProfileEdit3 {
    text-align: center;
}

.MyProfileEdit3 * {
    margin: 5px 5px 10px;
}


