.card {
    justify-content: center;
    border-radius: 3px;

    background: white;
    text-decoration: none;
    color: #444;
    filter: drop-shadow(0px 0.25px 1px rgba(0, 0, 0, 0.039)) drop-shadow(0px 0.85px 3px rgba(0, 0, 0, 0.19));
}

.clickable {
    cursor: pointer;
}

.clickable:active {
    background-color: #DDDDDD;
}





