.card {
    justify-content: center;
    border-radius: 3px;

    background: white;
    text-decoration: none;
    color: #444;
    /* filter will cover adDCHoverMore */
    /*filter: drop-shadow(0px 0.25px 1px rgba(0, 0, 0, 0.039)) drop-shadow(0px 0.85px 3px rgba(0, 0, 0, 0.19));*/
    box-shadow: 0 1px 4px #BBBBBB;
}

hr {
    /*margin: 0;*/
    height: 1px;
    background-color: #DADADA;
    border: none;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    box-shadow: 0 1px 4px #BBBBBB;
}

.clickable:active {
    background-color: #F6F6F6;
}

p {
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.non-text {
    cursor: default;
}

.draggable {
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}

.page {
    width: 100%;
    margin-top:1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0;
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

/**/
/**/
/**/

/* to define css variables */
/* can be used with `var()` anywhere in `root` */
/* not be used in @media conditions */
:root {
    --def-gap: 30px;
    --def-width-shrinked-page: 90vw;

    --def-width-profile: 250px;
    --def-width-ad: 700px;
    --def-width-bulletin: 350px;
    --def-height-row1: 300px;

    --def-width-myposts: 1000px;
}




