.GeneralNoti {
    /*position: absolute;*/
    position: fixed;
    z-index: 999;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    background-color: #FAFAFA;
    box-shadow: 0 5px 20px #BEBEBE;

    display: flex;
    align-content: center;
}

.GeneralNoti p {
    font-size: 1.5rem;
    margin: 0.5em 0.5em 0.5em 1em;
}

.GeneralNoti img {
    align-self: center;
    height: 2em;
    margin: 0.5em 1em 0.5em 0.5em;
}

.img-green {
    filter: invert(55%) sepia(6%) saturate(5426%) hue-rotate(84deg) brightness(95%) contrast(73%);
}

.img-red {
    filter: invert(26%) sepia(35%) saturate(2932%) hue-rotate(335deg) brightness(92%) contrast(88%);
}






