.ad-type-switch {
    height:2.5rem;
    width:10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #D6D6D6;
    border-radius: 5px;

    padding-left: 3px;
    padding-right: 3px;
}

.option {
    width:49%;
    height: 90%;

    background-color: transparent;
    border-radius: 3px;

    color: white;
    font-family: "Gothic A1", sans-serif;
    font-size: 1rem;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    justify-content: center;

    align-items: center;
}

.option-active {
    width:49%;
    height: 85%;

    background-color: #36C0C9;
    border-radius: 3px;

    color: white;
    font-family: "Gothic A1", sans-serif;
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s all ease;
}